.ac-account{
  /* height: 100hv !important; */
  background-color: #38052a;
  overflow: auto;
  position: absolute;
  width: 100%;
  height: 100%;
}
.ac-hello{
  background-color: #451e36 !important;
}

.ac-img-happy{
  width: 50%;
  margin-top: 30px;
}

.ac-eye {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
}

.ac-w-7 {
  width: 7% !important;
  margin: 0;
}

.ac-text-turquoise {
  color: #00c3a3;
}

.ac-text-white{
  color: white;
}

.ac-bold{
  font-weight: bold;
}

.ac-operations{
  background-color: #38052a;
}

.ac-account>.row{
  margin:0;
}

.ac-account>hr {
  margin-top: 0px;
  margin-bottom: 0px;
  border: 0;
  border-top: 1px solid #eee;
}

.ac-operations.ac-op{
  padding: 3% 5% 2% 5%;
  border-bottom: 1px solid #d1d1d1;
}

.ac-show {
  width: 6% !important;
  float: right;
  margin-top: 0;
}

.ac-img-icon{
  width: 100% !important;
}

.ac-mg-20{
  margin-top: 20%;
}

.row.ac-pd-20{
  padding: 10% 0 0 0;
}
