.cv-lock, .cv-lock:focus {
  background-image: url(http://174.138.48.60:3000/img/icons/lock.png) !important;
  background-repeat: no-repeat !important;
  background-size: 9% !important;
  top: 0.8rem;
  left: 0;
  font-size: 1rem;
  cursor: text;
}

.cv-message{
  width: 40%;
  margin-top: 20%;
}

.cv-title{
  font-weight: bold;
  margin-top: 10%;
}

.cv-w-10{
  width: 16px !important;
  margin-top: 0;
}

.cv-retry{
  margin-top: 10px;
  margin-bottom: 30px;
}