.lock, .lock:focus {
  background-image: url(http://174.138.48.60:3000/img/icons/lock.png) !important;
  background-repeat: no-repeat !important;
  background-size: 9% !important;
  position: absolute;
  top: 0.8rem;
  left: 0;
  font-size: 1rem;
  cursor: text;
}

.message{
  width: 40%;
}

.title{
  font-weight: bold;
}

.w-10{
  width: 16px;
  margin-top: 0;
}

.retry{
  margin-top: 100px;
}