.imgLockone{
    width: 40% !important;
    margin-top: 20%;
}

.titleCU{
    font-weight: bold;
    font-size: 1.2em;
}

.infoUserCU{
    font-size: 13px;
    color: #8f8f8f;
}

.userCU, .userCU:focus {
    background-image: url("http://174.138.48.60:3000/img/icons/user.png") !important;
    background-repeat: no-repeat !important;
    background-size: 13% !important;
}

.messageCU, .messageCU:focus {
    background-image: url("http://174.138.48.60:3000/img/icons/message-gray.png") !important;
    background-repeat: no-repeat !important;
    background-size: 13% !important;
}

.lockCU {
    background-image: url("http://174.138.48.60:3000/img/icons/lock.png") !important;
    background-repeat: no-repeat !important;
    background-size: 10% !important;
}

.noteCU{
    color: #d1d1d1 !important;
    font-size: 0.9rem;
    margin-top: 0px;    
}

.navCreateUser{
    background-color: #fbd43b;
    padding: 4%;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    text-transform: uppercase;
}

.btnCreateUser{

}


