.imgPasswordCard
{
    width: 40%;
    margin-top: 20%;
}
.titlePasswordCard
{
    font-weight: bold;
    font-size: 1.2em;
}
.lockPasswordCard{
    background-image: url(./images/lock.png);
    background-repeat: no-repeat;
    background-size: 7%;
}
.navPasswordCard{
    background-color: #fbd43b;   
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 2rem;
    text-transform: uppercase;
    vertical-align: middle;
    text-decoration: none;
    color: #fff;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    margin-top: 20px;
}
.navPasswordCard:hover{
    background-color: #fbd43b; 
    text-decoration: none;
    color: #fff;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
}
.btnPasswordCard, .btnPasswordCard:hover{
    margin-top: 20px;
    background-color: #d1d1d1;
    color: #fff;  
}