.receivePaymentGrid
{
    width: 100%;
    height: 100vh;
    background-color: #eaeaea;
}
.fa-angle-left
{
    margin-top: 25%;
    margin-bottom: 50%;   
    color: black;
}
.titleReceivePayment
{
    margin-top: 25%;
    margin-bottom: 15%; 
}
.circulo {
    margin-top: 15%;
     width: 200px;
     height: 200px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: white;
}
.imgQR
{
    margin-top: 30px;
    width: 70%;
}