
 .moneda {
    background-image: url(https://image.freepik.com/iconos-gratis/peru-nuevo-simbolo-de-moneda-sol_318-50157.jpg);
    background-repeat: no-repeat;
    background-size: 5%;
    margin-top: 12% ;
    background-position-y: 1px;
    background-color: transparent;
} 

.titleSubmitPayment{
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 20%;
}

.contact, .contact:focus {
    background-image: url(http://174.138.48.60:3000/img/icons/user.png) !important;
    background-repeat: no-repeat !important;
    background-size: 8% !important;
  
}

/* .cash{
     background-image: url(https://www.google.com.pe/search?q=dinero+icono&tbm=isch&source=lnt&tbs=isz:i&sa=X&ved=0ahUKEwiyr-SapfnWAhWGhpAKHWB3BIEQpwUIHA&biw=1366&bih=613&dpr=1#imgdii=VYyKu9557kjuBM:&imgrc=Z2u8um3IP0yIVM:) !important;
    background-repeat: no-repeat !important;
    background-size: 5% !important;
    background-position-y: 10px;
   
}    */